body {
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #000;
  color: white;
}


.title {
  font-size: 4rem;
  margin: 0;
}

.titlebox {
  background-color: #000;
  padding: 20px 0;
  text-align: center;
}

.inputbox {
  background-color: #c90000;
  margin: 2rem auto;
  padding: 1.5rem;
  max-width: 700px;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.inputfield {
  width: 100%;
  height: 270px;
  resize: none;
  font-size: 1.5rem;
  padding: 0.5rem;
  border: none;
  border-radius: 6px;
  box-sizing: border-box;
}

.button {
  background-color: black;
  color: white;
  border: none;
  font-size: 2.1rem;
  padding: 0.8rem;
  width: 100%;
  border-radius: 6px;
  cursor: pointer;
}

.linkbox {
  display: flex;
  justify-content: space-between;
}

.link {
  color: white;
  font-size: 2rem;
  text-decoration: underline;
  cursor: pointer;
}

@media (max-width: 768px) {
  .title {
    font-size: 3rem;
  }

  .inputfield {
    height: 270px;
    font-size: 1rem;
  }

  .button {
    font-size: 2.1rem;
    padding: 0.6rem;
  }

  .link {
    font-size: 1.8rem;
  }
}

@media (orientation: landscape) and (max-height: 500px) {
  .inputbox {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  .inputfield {
    flex: 2;
    height: 200px;
  }

  .button {
    flex: 1;
    height: 100px;
  }

  .linkbox {
    flex-basis: 100%;
    justify-content: space-around;
  }
}