.title{
    color: white;
    font-size: 64px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.titlebox{
    background-color: black;
}

.inputbox{
    background-color: rgb(201, 0, 0);
    width: 640px;
    margin: auto;
    height: 300px;
    position: relative;
    top: 36px;
}

.button{
    background-color: black;
    color: white;
    border: none;
    font-size: 34px;
    width: 100px;
    height: 85px;
    position: absolute;
    top: 11px;
    left: 530px;
}

.inputfield{
    border: none;
    width: 513px;
    height: 247px;
    position: absolute;
resize: none;
    top: 11px;
    left: 11px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
}

.cleartext{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    top: 259px;
    left: 11px;
    font-size: 30px;
}

.pastetext{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    top: 259px;
    left: 180px;
    font-size: 30px;
}


/*============================================================================*/
/* For Mobile Portrait View */
/*============================================================================*/
@media screen and (max-device-width: 1080px)
	and (orientation: portrait) {
	.title{
    color: white;
    font-size: 64px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.titlebox{
    background-color: black;
}

.button{
    background-color: black;
    color: white;
    border: none;
    font-size: 34px;
    width: 100px;
    height: 85px;
    position: absolute;
    top: 173px;
    left: 248px;
}

.inputbox{
    background-color: rgb(201, 0, 0);
    width: 360px;
    margin: auto;
    height: 300px;
    position: relative;
    top: 36px;
}

.inputfield{
    border: none;
    width: 230px;
    height: 247px;
    position: absolute;
resize: none;
    top: 11px;
    left: 11px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
}

.cleartext{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    top: 259px;
    left: 11px;
    font-size: 30px;
}

.pastetext{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    top: 259px;
    left: 180;
    font-size: 30px;
}
}


/*============================================================================*/
/* For Mobile Landscape View */
/*============================================================================*/
@media screen and (max-device-width: 2408px)
	and (orientation: landscape) {
	.title{
    color: white;
    font-size: 64px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.titlebox{
    background-color: black;
}

.inputbox{
    background-color: rgb(201, 0, 0);
    width: 640px;
    margin: auto;
    height: 300px;
    position: relative;
    top: 36px;
}

.button{
    background-color: black;
    color: white;
    border: none;
    font-size: 34px;
    width: 100px;
    height: 85px;
    position: absolute;
    top: 11px;
    left: 530px;
}

.inputfield{
    border: none;
    width: 513px;
    height: 247px;
    position: absolute;
resize: none;
    top: 11px;
    left: 11px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
}

.cleartext{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    top: 259px;
    left: 11px;
    font-size: 30px;
}

.pastetext{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    top: 259px;
    left: 180;
    font-size: 30px;
}
}